:root {
    --color-text-primary: #1D1D1B;
    --color-text-secondary: #5A5E63;
    --color-main: #6782C8;
    --color-main-dark: #4561A7;
    --color-main-light: #4F6BA7;
    --color-background: #EDEDED;
    --color-background-light: #F8F8F8;
    --color-line: #BBC1C9;
    --color-line-light: #ECF0F4;
    --color-base: #FFFFFF;
    --color-alert: #FF2D39;
    --color-alert-light:#FF4040;
}