.icon-add {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-attach {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-delete {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-dots {
  width: 5em;
  height: 1em;
  fill: initial;
}
.icon-edit {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ok {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-sign {
  width: 1em;
  height: 1em;
  fill: initial;
}
